.App {
  margin: 50px;
}

input {
  margin: 20px 5px 20px 20px;
}

button {
  margin: 10px;
}

h2 {
  margin-bottom: 20px;
}

.app-logo {
  max-width: 200px;
}

.buttons {
  text-align: right;
}

.close-button {
  text-align: center;
}

.main-heading {
  position: relative;
  left: 23px;
  bottom: 15px;
  font-size: 35px;
}

.remark {
  padding: 20px 10px;
}

.subheading {
  position: relative;
  left: 225px;
  bottom: 30px;
  font-size: 20px;
}